<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="header">
    <div class="row">
        <div class="col">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                <span class="fs-4">마켓컬렉션</span>
            </a>
        </div>
        <div class="col col-md-3 position-relative">
            <form class="form-inline" th:action="@{/}" method="get">
                <input name="searchQuery" class="form-control" type="search" placeholder="검색어를 입력해주세요" aria-label="Search">
                <button class="btn btn-outline-success position-absolute top-0 end-0" type="submit">검색</button>
            </form>
        </div>
        <div class="col">
            <div class="grid text-center">
                <span sec:authorize="isAnonymous()">
                    <a href="/member/login" class="nav-link">로그인</a>
                </span>
                <span class="badge text-bg-light" sec:authorize="isAuthenticated()">
                    [[${grade}]]
                </span>
                 <span class=".g-col-6 .g-col-md-4" sec:authorize="isAuthenticated()">
                    [[${userName}]]님
                </span>
                <span class=".g-col-6 .g-col-md-4" sec:authorize="isAuthenticated()">
                    <a href="/admin/orders">관리자페이지</a>
                </span>
                <span class=".g-col-6 .g-col-md-4" sec:authorize="isAuthenticated()">
                    <a href="/cart">장바구니</a>
                </span>
                <span class=".g-col-6 .g-col-md-4" sec:authorize="isAuthenticated()">
                    <a href="/orders">주문내역</a>
                </span>
                <span class=".g-col-6 .g-col-md-4" sec:authorize="isAuthenticated()">
                    <a href="/logout">로그아웃</a>
                </span>
            </div>
        </div>
    </div>
</header>
</html>