<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminLayout}">

<th:block layout:fragment="css">
  <style>
    td {
      vertical-align: middle;
    }
    .mgl-10 {
      margin-left: 10px;
    }
    .mgb-30 {
      margin-bottom: 30px;
    }
    .search-bar {
      display: inline-block;
      width: auto;
    }
    .thumbnail {
      width: 40px;
      height: 40px;
    }
    .pagination > li > a:focus,
    .pagination > li > a:hover,
    .pagination > li > span:focus,
    .pagination > li > span:hover {
      color: black;
      background-color: #f1f3f5;
      border-color: #ddd;
    }
    .pagination > .active > a {
      color: white;
      background-color: #f1f3f5;
      border: 1px solid #dddddd;
    }
    .pagination > .active > a:hover {
      background-color: #f1f3f5;
    }
    .pagination > .disabled > a {
      background-color: white;
    }
  </style>
</th:block>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    $(document).ready(function() {
      $("#searchBtn").on("click", function(e) {
        e.preventDefault();
        page(0);
      });
      $("#sendItems").on("click", function(e) {
        e.preventDefault();
        sendItemIds();
      });
    });

    function page(page) {
      let searchDateType = $("#searchDateType").val();
      let itemSaleStatus = $("#itemSaleStatus").val();
      let searchBy = $("#searchBy").val();
      let searchQuery = $("#searchQuery").val();
      let orderBy = $("#orderBy").val();

      location.href="/admin/items/" + page + "?searchDateType=" + searchDateType
              + "&itemSaleStatus=" + itemSaleStatus
              + "&searchBy=" + searchBy
              + "&searchQuery=" + searchQuery
              + "&orderBy=" + orderBy;
    }

    function allChecked() {
      if($("#checkAll").prop("checked")) {
        $("input[name=itemId]").prop("checked", true);
      } else {
        $("input[name=itemId]").prop("checked", false);
      }
    }
    function getItemIds() {
      let itemInfo = "";
      $(".checkbox-items").each(function(index, data) {
        if($(data).find("#checkBox").is(":checked") === true) {
          let itemId = $(data).find("#itemId").val();
          itemInfo += "<input type='number' name='id' value='" + itemId + "'>";
        }
      })
      return itemInfo;
    }
    function sendItemIds() {
        let form = $("<form action='/admin/item-discount/new' method='get'>" +
                getItemIds() +
                "</form> ");
        $("body").append(form);
        form.submit();
    }

  </script>
</th:block>

<div layout:fragment="content">
  <form>
    <th:block th:object="${itemSearchDto}">
      <div class="form-inline">
        <span class="fs-4 mgb-30">상품 관리</span>
        <select th:field="*{orderBy}" class="form-select search-bar">
          <option value="">정렬기준</option>
          <option value="id">상품번호</option>
          <option value="itemName">상품명</option>
          <option value="hit">조회수</option>
          <option value="salesCount">판매수</option>
          <option value="itemSaleStatus">판매상태</option>
          <option value="createdBy">등록자</option>
          <option value="createdDate">등록일</option>
        </select>
        <select th:field="*{searchDateType}" class="form-select search-bar">
          <option value="all">전체기간</option>
          <option value="1d">1일</option>
          <option value="1w">1주</option>
          <option value="1m">1개월</option>
          <option value="6m">6개월</option>
        </select>
        <select th:field="*{itemSaleStatus}" class="form-select search-bar">
          <option value="">판매상태(전체)</option>
          <option value="ON_SALE">판매</option>
          <option value="SOLD_OUT">품절</option>
        </select>
        <select th:field="*{searchBy}" class="form-select search-bar">
          <option value="itemName">상품명</option>
          <option value="createdBy">등록자</option>
        </select>
        <input th:field="*{searchQuery}" type="text" class="form-control search-bar" placeholder="검색어를 입력해주세요">
        <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
      </div>
    </th:block>
    <hr>
    <div>
      <span class="mgl-10">총 <span th:text="${#numbers.formatInteger(items.totalElements, 1, 'COMMA')}"></span> 건</span>
      <span class="mgl-10">
        <button class="btn btn-light" id="sendItems">선택 상품 할인 등록</button>
        <button class="btn btn-light">선택 상품 판매 중지</button>
      </span>
    </div>
    <table class="table mgb-30">
      <thead>
      <tr>
        <td><input type="checkbox" id="checkAll" onclick="allChecked()"></td>
        <td>상품번호</td>
        <td>카테고리</td>
        <td colspan="2" class="text-center">상품명</td>
        <td>조회수</td>
        <td>판매수</td>
        <td>재고수</td>
        <td>판매상태</td>
        <td>등록일</td>
      </tr>
      </thead>
      <tbody>
      <tr th:each="item, status: ${items.getContent()}" class="checkbox-items" th:object="${items}">
        <td>
          <input type="hidden" id="itemId" th:value="${item.id}">
          <input type="checkbox" id="checkBox" name="itemId" th:value="${item.id}">
        </td>
        <td th:text="${item.id}"></td>
        <td th:text="${item.categoryId}"></td>
        <td><img th:src="${item.repImageUrl}" class="rounded thumbnail"></td>
        <td><a th:href="'/admin/item/' + ${item.id}" th:text="${item.itemName}" class="text-dark" style="text-decoration-line: none;"></a></td>
        <td th:text="${#numbers.formatInteger(item.hit, 1, 'COMMA')}"></td>
        <td th:text="${#numbers.formatInteger(item.salesCount, 1, 'COMMA')}"></td>
        <td th:text="${#numbers.formatInteger(item.stockQuantity, 1, 'COMMA')}"></td>
        <td th:text="${item.itemSaleStatus.status}"></td>
        <td th:text="${#temporals.format(item.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
      </tr>
      </tbody>
    </table>

    <div th:with="start=${(items.number / maxPage) * maxPage + 1},
         end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})">
      <ul class="pagination justify-content-center">

        <li class="page-item" th:classappend="${items.first} ? 'disabled'">
          <a th:onclick="'javascript:page(' + ${items.number - 1} + ')'" aria-label="Previous" class="page-link text-black">
            <span aria-hidden="true">&lt</span>
          </a>
        </li>

        <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq (page - 1)} ? 'active' : ''">
          <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link text-black">
            [[${page}]]
          </a>
        </li>

        <li class="page-item" th:classappend="${items.last}?'disabled'">
          <a th:onclick="'javascript:page(' + ${items.number + 1} + ')'" aria-label='Next' class="page-link text-black">
            <span aria-hidden='true'>&gt</span>
          </a>
        </li>
      </ul>
    </div>
  </form>
</div>

</html>