<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="css">
    <style>
        .mgt-5 {
            margin-top: 5px;
        }
        .mgb-30 {
            margin-bottom: 30px;
        }
        .thumbnail {
            width: 50px;
            height: 50px;
        }
        .recent-view {
            overflow: hidden;
            width: 120px;
            height: 100px;
            position: fixed;
            top: 20%;
            right: 3%;
            border: 1px solid #c1c3c5;
        }
        .review-count {
            color: #808080;
        }
    </style>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        function printMoreItems(cursorItemId) {

            location.href="/main/" + cursorItemId;
            console.log("id=" + cursorItemId)
        }
    </script>
</th:block>

<div layout:fragment="content" class="content">
<!--    <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
    <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="text-center">
        <p class="h3 font-weight-bold mgb-30" th:text="${itemSearchDto.searchQuery} + '에 대한 검색 결과'"></p>
    </div>-->
    <div class="row">
        <th:block th:each="item, status: ${items.values}">
            <div class="col-md-3 margin">
                <div class="card mgb-30">
                    <a th:href="'/items/' + ${item.id}" class="text-dark" style="text-decoration-line: none;">
                        <img th:src="${item.repImageUrl}" class="card-img-top" th:alt="${item.itemName}" height="250">
                        <div class="card-body">
                            <h5 class="card-title">[[${item.itemName}]]</h5>
                            <h5 class="card-title fw-bold">[[${#numbers.formatInteger(item.salePrice, 1, 'COMMA')}]]원</h5>
                            <h6 class="card-title review-count">후기 [[${item.reviewCount}]]</h6>
                        </div>
                    </a>
                </div>
            </div>
        <button class="btn btn-primary btn-more" th:if="${status.count eq status.size}" th:value="${item.id}" onclick="printMoreItems(this.value)">더 보기</button>
        </th:block>
        <div th:if="${recentItems.size() > 0}" class="recent-view">
            <div>최근 본 상품</div>
            <div id="carouselExample" class="carousel carousel-dark carousel-fade mgt-5">
                <div class="carousel-inner" th:each="recentItem, status: ${recentItems}">
                    <div th:if="${status.index eq 0}">
                        <div class="carousel-item active text-center">
                            <a th:href="'/items/' + ${recentItem.id}" class="text-dark" style="text-decoration-line: none;">
                                <img th:src="${recentItem.imageUrl}" class="card-img-top thumbnail" th:alt="${recentItem.itemName}">
                            </a>
                        </div>
                    </div>
                    <div th:unless="${status.index eq 0}">
                        <div class="carousel-item text-center">
                            <a th:href="'/items/' + ${recentItem.id}" class="text-dark" style="text-decoration-line: none;">
                                <img th:src="${recentItem.imageUrl}" class="card-img-top thumbnail" th:alt="${recentItem.itemName}">
                            </a>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>

</html>