<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="css">
    <style>
        .mg20 {
            margin-left: 20%;
            margin-right: 20%;
        }
        .mgt-30 {
            margin-top: 30px;
        }
        .mgb-30 {
            margin-bottom: 30px;
        }
        .mgr-10 {
            margin-right: 10px;
        }
        .mgr-5 {
            margin-right: 5px;
        }
        .thumbnail {
            width: 80px;
            height: 80px;
        }
        .btn-custom {
            border: none;
            background-color: transparent;
        }
    </style>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
   </script>
</th:block>

<div layout:fragment="content" class="mg20 mgt-30">

    <p class="h2 mgb-30 text-center">
        장바구니
    </p>
    <div class="d-flex row justify-content-center">
        <table class="table">
            <thead>
            <tr class="text-center">
                <td>
                    <input type="checkbox" id="checkAll" onclick="allChecked()"> 전체선택
                </td>
                <td>상품정보</td>
                <td>상품금액</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartItem : ${cartItems}" class="cart-items">
                <td class="text-center align-middle">
                    <input type="hidden" id="itemId" th:value="${cartItem.itemId}">
                    <input type="hidden" id="count" th:value="${cartItem.count}">
                    <input type="hidden" id="price" th:value="${cartItem.salePrice}">
                    <input type="checkbox" name="cartCheckBox" id="checkBox" th:value="${cartItem.cartItemId}">
                </td>
                <td class="d-flex">
                    <div class="align-self-center mgr-10">
                        <img th:src="${cartItem.imageUrl}" class = "rounded thumbnail" th:alt="${cartItem.itemName}">
                    </div>
                    <div class="align-self-center">
                        <span th:text="${cartItem.itemName}" class="fs24 font-weight-bold"></span>
                        <div class="fs18 font-weight-light">
                            <span class="input-group mt-2">
                                <span th:text="${#numbers.formatInteger(cartItem.salePrice, 1, 'COMMA')} + '원'" class="align-self-center mgr-5"></span>
                                <input type="number" name="count" th:data-id="${cartItem.cartItemId}" th:data-price="${cartItem.salePrice}" th:value="${cartItem.count}" min="1"
                                       onchange="changeCount(this)" class="form-control p-0">
                                <button type="button" class="btn-custom" aria-label="Close">
                                <span class="btn-close" aria-hidden="true" th:data-id="${cartItem.cartItemId}"
                                      onclick="deleteCartItem(this)"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </td>
                <td class="text-center align-middle">
                    <span id="totalPrice"
                          name="totalPrice" th:text="${{#numbers.formatInteger(cartItem.salePrice * cartItem.count, 1, 'COMMA')}} + '원'">
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <h2 class="text-center">
        총 주문 금액 : <span id="totalOrderPrice" class="text-danger">0원</span>
    </h2>
    <h3 class="text-center text-secondary">
        적립 포인트 : <span id="savingPoint" class="text-success">0원</span>
    </h3>

    <div class="text-center mt-3">
        <button class="btn btn-primary btn-lg" onclick="order()">주문하기</button>
    </div>

    <script src="/js/cart/cart.js"></script>
</div>

</html>