<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="css">
    <style>
        .mgt-5 {
            margin-top: 5px;
        }
        .mgb-30 {
            margin-bottom: 30px;
        }
        .thumbnail {
            width: 50px;
            height: 50px;
        }
        .recent-view {
            overflow: hidden;
            width: 120px;
            height: 100px;
            position: fixed;
            top: 20%;
            right: 3%;
            border: 1px solid #c1c3c5;
        }
    </style>
</th:block>

<div layout:fragment="content" class="content">
    <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
    <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="text-center">
        <p class="h3 font-weight-bold mgb-30" th:text="${itemSearchDto.searchQuery} + '에 대한 검색 결과'"></p>
    </div>

    <div class="row">
        <th:block th:each="item, status: ${items.getContent()}">
            <div class="col-md-3 margin">
                <div class="card mgb-30">
                    <a th:href="'/items/' + ${item.id}" class="text-dark" style="text-decoration-line: none;">
                        <img th:src="${item.imageUrl}" class="card-img-top" th:alt="${item.itemName}" height="250">
                        <div class="card-body">
                            <h5 class="card-title">[[${item.itemName}]]</h5>
                            <h5 class="card-title text-danger">[[${#numbers.formatInteger(item.salePrice, 1, 'COMMA')}]]원</h5>
                        </div>
                    </a>
                </div>
            </div>
        </th:block>
        <div class="recent-view">
            <div>최근 본 상품</div>
            <div id="carouselExample" class="carousel carousel-dark carousel-fade mgt-5">
                <div class="carousel-inner" th:each="recentItem, status: ${recentItems}">
                    <div th:if="${status.index eq 0}">
                        <div class="carousel-item active text-center">
                            <a th:href="'/items/' + ${recentItem.id}" class="text-dark" style="text-decoration-line: none;">
                                <img th:src="${recentItem.imageUrl}" class="card-img-top thumbnail" th:alt="${recentItem.itemName}">
                            </a>
                        </div>
                    </div>
                    <div th:unless="${status.index eq 0}">
                        <div class="carousel-item text-center">
                            <a th:href="'/items/' + ${recentItem.id}" class="text-dark" style="text-decoration-line: none;">
                                <img th:src="${recentItem.imageUrl}" class="card-img-top thumbnail" th:alt="${recentItem.itemName}">
                            </a>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <div th:with="start=${(items.number / maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >
        <ul class="pagination justify-content-center">

            <li class="page-item" th:classappend="${items.number eq 0}?'disabled':''">
                <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number - 1}}" aria-label='Previous' class="page-link">
                    <span aria-hidden='true'>&lt</span>
                </a>
            </li>

            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page - 1}?'active':''">
                <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${page - 1}}" th:inline="text" class="page-link">[[${page}]]</a>
            </li>

            <li class="page-item" th:classappend="${items.number + 1 ge items.totalPages}?'disabled':''">
                <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number + 1}}" aria-label='Next' class="page-link">
                    <span aria-hidden='true'>&gt</span>
                </a>
            </li>
        </ul>
    </div>
</div>

</html>